<div 
style="
font-family: 'Roboto', sans-serif;
color:white;
background-color:#AF0404;
padding:1%;
border-radius:10px;
font-size:2em;
text-align:center
">
Pandas Cheat-Sheet
</div>

<div 
style="
/* color:white;
background-color:#141414; */
color:black;
background-color:#d9d9d9;
border-radius:10px;
padding:1%;
font-size:1em;
border: 1px solid #3f37c9;
"> 
üìç <b>NOTE</b>: This notebook is intended to :
<ul>
    <li>Provide exhaustive and comprehensive Guide of Pandas Library. </li>
    <li>Discuss the Syntax and code of most used Functions in Pandas.</li>
</ul></div>

<div 
style="
/* color:white;
background-color:#141414; */
color:black;
background-color:#d9d9d9;
border-radius:10px;
padding:1%;
font-size:1em;
border: 1px solid #3f37c9;
"> 
üîó <b>Dataset link:</b> <a href="https://www.kaggle.com/datasets/katerynameleshenko/ai-index">Click to download Dataset!</a>
</div>

<div 
style="
/* color:white;
background-color:#141414; */
color:black;
background-color:#d9d9d9;
border-radius:10px;
padding:1%;
font-size:1em;
border: 1px solid #3f37c9;
"> 
‚öì <b>About the Dataset</b>
<p>
The Dataset "AI Global index" includes The Global AI Index itself and seven indicators affecting the Index on 62 countries, as well as general information about the countries (region, cluster, income group and political regime).

The Global AI Index is the first index to benchmark nations on their level of investment, innovation and implementation of artificial intelligence.

Talent, Infrastructure and Operating Environment are the factors of AI Implementation group of indicators, which represents the application of artificial intelligence by professionals in various sectors, such as businesses, governments, and communities.
The data as described as:
<ul>
    <li>Talent indicator focuses on the availability of skilled practitioners for the provision of artificial intelligence solutions.</li>
    <li>Infrastructure indicator focuses on the reliability and scale of access infrastructure, from electricity and internet, to super computing capabilities.</li>
    <li>Operating Environment indicator focuses on the regulatory context, and public opinion surrounding artificial intelligence.</li>
    <li>Research indicator focuses on the extent of specialist research and researchers; investigating the amount of publications and citations in credible academic journals.</li>
    <li>Development indicator focuses on the development of fundamental platforms and algorithms upon which innovative artificial intelligence projects rely.</li>
    <li>Government Strategy indicator focuses on the depth of commitment from national government to artificial intelligence; investigating spending commitments and national strategies.</li>
    <li>Commercial indicator focuses on the level of startup activity, investment and business initiatives based on artificial intelligence.</li>
    
</ul>
</p>
</div>

<div 
style="
font-family: 'Roboto', sans-serif;
color:white;
background-color:#AF0404;
padding:1%;
border-radius:10px;
font-size:2em;
text-align:center
">
Let's Start!
</div>

<div 
style="
font-family: 'Roboto', sans-serif;
color:white;
background-color:#d9d9d9;
padding:0.1%;
border-radius:10px;
font-size:1em;
text-align:center
">

</div>

**1. Installing Pandas**

If you have Python installed, you can use the following command to install Pandas:
`pip install pandas`

<div 
style="
font-family: 'Roboto', sans-serif;
color:white;
background-color:#d9d9d9;
padding:0.1%;
border-radius:10px;
font-size:1em;
text-align:center
">

</div>

**2. Importing Pandas**

Once Pandas is installed, you can import it into your Python script or Jupyter Notebook using the following import statement:
`import pandas as pd`

In [1]:
import pandas as pd

<div 
style="
font-family: 'Roboto', sans-serif;
color:white;
background-color:#d9d9d9;
padding:0.1%;
border-radius:10px;
font-size:1em;
text-align:center
">

</div>

**3.Reading/writing Files**

Read the .csv file:
 `pd.read_csv('filename.csv')`

Saving the .csv file:
 `df.to_csv('xyz.csv')`

Read the Sheet1 of the Excel file ‚Äòxyz.xls‚Äô : 
`pd.read_excel(filename, 'Sheet1')`

Saving the Sheet1 of the Excel file ‚Äòxyz.xls‚Äô: 
`df.to_excel('filename.xlsx', sheet_name='Sheet1')`

Read the xyz.json file:
`pd.read_json('filename.json')`

Read the xyz.sql file: 
`pd.read_sql('filename.sql')`

Read the xyz.html file: `pd.read_html(filename.html')`

In [2]:
df = pd.read_csv("..\\cheatsheats_notebooks\\Datasets\\AI_INDEX_RAW.csv")
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()

<div 
style="
font-family: 'Roboto', sans-serif;
color:white;
background-color:#d9d9d9;
padding:0.1%;
border-radius:10px;
font-size:1em;
text-align:center
">

</div>

**4.Viewing The Data**

Method 1: Printing the whole DataSet: `df` or `dataframe-name`

Method 2 - Using .head() method: `df.head()` or `df.head(no. of rows from top)`

Method 3- Using .tail() method: `df.tail()` or `df.tail(no.of rows from bottom)`

In [3]:
# Method 1
df

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
0,United States of America,100.00,94.02,64.56,100.00,100.00,77.39,100.00,100.00,Americas,Power players,High,Liberal democracy
1,China,16.51,100.00,91.57,71.42,79.97,94.87,44.02,62.92,Asia-Pacific,Power players,Upper middle,Closed autocracy
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,Liberal democracy
3,Canada,31.28,77.05,93.94,30.67,25.78,100.00,14.88,40.19,Americas,Traditional champions,High,Liberal democracy
4,Israel,35.76,67.58,82.44,32.63,27.96,43.91,27.33,39.89,Middle East,Rising stars,High,Liberal democracy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Sri Lanka,6.27,34.64,35.79,0.12,0.95,35.57,0.09,6.62,Asia-Pacific,Nascent,Lower middle,Electoral democracy
58,Egypt,1.11,38.84,0.00,2.08,1.54,68.72,0.31,4.83,Middle East,Nascent,Lower middle,Electoral autocracy
59,Kenya,0.75,14.11,29.84,0.07,12.15,7.75,0.31,2.30,Africa,Nascent,Lower middle,Electoral autocracy
60,Nigeria,2.74,0.00,50.10,0.45,2.06,7.75,0.33,1.38,Africa,Nascent,Lower middle,Electoral autocracy
61,Pakistan,8.00,2.43,12.48,2.17,1.09,13.92,0.27,0.00,Asia-Pacific,Nascent,Lower middle,Electoral autocracy

In [4]:
# method 2

df.head(8)

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
0,United States of America,100.00,94.02,64.56,100.00,100.00,77.39,100.00,100.00,Americas,Power players,High,Liberal democracy
1,China,16.51,100.00,91.57,71.42,79.97,94.87,44.02,62.92,Asia-Pacific,Power players,Upper middle,Closed autocracy
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,Liberal democracy
3,Canada,31.28,77.05,93.94,30.67,25.78,100.00,14.88,40.19,Americas,Traditional champions,High,Liberal democracy
4,Israel,35.76,67.58,82.44,32.63,27.96,43.91,27.33,39.89,Middle East,Rising stars,High,Liberal democracy
5,Singapore,39.38,84.30,43.15,37.67,22.55,79.82,15.07,38.67,Asia-Pacific,Rising stars,High,Electoral democracy
6,South Korea,14.54,85.23,68.86,26.66,77.25,87.50,5.41,38.60,Asia-Pacific,Rising stars,High,Liberal democracy
7,The Netherlands,33.83,81.99,88.05,25.54,30.17,62.35,4.97,36.35,Europe,Rising stars,High,Liberal democracy

In [5]:
# Method 3 

df.tail(8)

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
54,South Africa,4.61,45.73,58.43,0.83,7.52,0.00,2.03,9.71,Africa,Waking up,Upper middle,Electoral democracy
55,Morocco,3.36,44.88,60.17,1.46,0.05,15.90,0.10,8.87,Africa,Waking up,Lower middle,Closed autocracy
56,Armenia,6.69,37.84,58.40,0.28,0.33,14.40,1.37,8.49,Europe,Waking up,Upper middle,Electoral democracy
57,Sri Lanka,6.27,34.64,35.79,0.12,0.95,35.57,0.09,6.62,Asia-Pacific,Nascent,Lower middle,Electoral democracy
58,Egypt,1.11,38.84,0.00,2.08,1.54,68.72,0.31,4.83,Middle East,Nascent,Lower middle,Electoral autocracy
59,Kenya,0.75,14.11,29.84,0.07,12.15,7.75,0.31,2.30,Africa,Nascent,Lower middle,Electoral autocracy
60,Nigeria,2.74,0.00,50.10,0.45,2.06,7.75,0.33,1.38,Africa,Nascent,Lower middle,Electoral autocracy
61,Pakistan,8.00,2.43,12.48,2.17,1.09,13.92,0.27,0.00,Asia-Pacific,Nascent,Lower middle,Electoral autocracy

<div 
style="
font-family: 'Roboto', sans-serif;
color:white;
background-color:#d9d9d9;
padding:0.1%;
border-radius:10px;
font-size:1em;
text-align:center
">

</div>

**5.Exploring Data**

`df.shape()` : Prints the number of rows as well as columns in a data frame

`df.info()` : Index, Datatype, and Memory details

`df.describe()` : Summary statistics for numerical columns

`s.value_counts(dropna=False)` : Views unique values and counts

`df.apply(pd.Series.value_counts)` # Unique values and counts for every columns

`df.mean()` : Returns the mean of every columns

`df.corr()` : Returns the correlation between columns in a DataFrame

`df.count()` : Returns the number of non-null values in each DataFrame column

`df.max()` : Returns the biggest value in every column

`df.min()` : Returns the lowest value in every column

`df.median()` : Returns the median of every column

`df.std()` : Returns the standard deviation of every column

In [6]:
# df.shape : (rows, coloumns)
#The df.shape() function in Pandas is used to obtain the shape of a DataFrame.
# It returns a tuple representing the dimensionality of the DataFrame,
# where the first element of the tuple is the number of rows and the second element is the number of columns 

#This function is particularly useful when you need to quickly understand the structure of the DataFrame, 
# as it provides a concise way to retrieve the number of rows and columns without having to manually count them.

df.shape

(62, 13)

In [7]:
# df.info
#By using df.info(), you can quickly gather essential details about the DataFrame, such as the number of columns, column labels,
# data types, memory usage, and the number of non-null values in each column.
# This can be particularly helpful for understanding the structure and content of the DataFrame at a glance.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                62 non-null     object
 1   Talent                 62 non-null     float64
 2   Infrastructure         62 non-null     float64
 3   Operating Environment  62 non-null     float64
 4   Research               62 non-null     float64
 5   Development            62 non-null     float64
 6   Government Strategy    62 non-null     float64
 7   Commercial             62 non-null     float64
 8   Total score            62 non-null     float64
 9   Region                 62 non-null     object
 10  Cluster                62 non-null     object
 11  Income group           62 non-null     object
 12  Political regime       62 non-null     object
dtypes: float64(8), object(5)
memory usage: 6.4+ KB

In [8]:
#df.describe()
#The df.describe() function in Pandas is used to generate descriptive statistics that summarize the central tendency,
# dispersion, and shape of a dataset's distribution. It provides a summary of the numerical columns in the DataFrame, 
# including count, mean, standard deviation, minimum, maximum, and various quantiles.

#This function is extremely useful for getting a quick overview of the distribution and characteristics of the 
# numerical data within the DataFrame. It allows you to understand the range of values, the presence of outliers,
# and the general shape of the data distribution.

df.describe()

,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,16.803065,63.503710,66.925484,16.610000,14.824677,57.865645,6.171935,23.914677
std,15.214963,20.217525,20.000424,17.413996,19.419279,26.252448,14.029632,15.123586
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.365000,55.857500,58.107500,3.032500,1.202500,41.030000,0.697500,14.805000
50%,13.445000,65.230000,69.505000,12.930000,9.005000,63.930000,2.585000,23.220000
75%,24.567500,75.947500,80.500000,25.412500,19.980000,77.952500,5.307500,30.487500
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

**6.Selecting The Data**

Selecting a Column : `df['column_name']`

Selecting a Group of Columns:  `df[['column1', 'column2', 'column3']]`

Selecting a Single row: `df[row-no:row-no +1]`

Selecting a Group of Rows : `df[start:end]` 

Using the .loc[] Method : `df.loc[row-indexes, column names]`

Using the .iloc[] Method : `df.iloc[row-indexes, column indexes]`

In [9]:
# Selecting a column
df["Region"]

0         Americas
1     Asia-Pacific
2           Europe
3         Americas
4      Middle East
          ...
57    Asia-Pacific
58     Middle East
59          Africa
60          Africa
61    Asia-Pacific
Name: Region, Length: 62, dtype: object

In [10]:
# Selecting a Group of Columns

df[["Region","Talent","Infrastructure"]]

          Region  Talent  Infrastructure
0       Americas  100.00           94.02
1   Asia-Pacific   16.51          100.00
2         Europe   39.65           71.43
3       Americas   31.28           77.05
4    Middle East   35.76           67.58
..           ...     ...             ...
57  Asia-Pacific    6.27           34.64
58   Middle East    1.11           38.84
59        Africa    0.75           14.11
60        Africa    2.74            0.00
61  Asia-Pacific    8.00            2.43

[62 rows x 3 columns]

In [18]:
#selecting a single row
df[0:1]

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
0,United States of America,100.0,94.02,64.56,100.0,100.0,77.39,100.0,100.0,Americas,Power players,High,Liberal democracy

In [17]:
# selecting a group of rows
df[0:5]

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
0,United States of America,100.00,94.02,64.56,100.00,100.00,77.39,100.00,100.00,Americas,Power players,High,Liberal democracy
1,China,16.51,100.00,91.57,71.42,79.97,94.87,44.02,62.92,Asia-Pacific,Power players,Upper middle,Closed autocracy
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,Liberal democracy
3,Canada,31.28,77.05,93.94,30.67,25.78,100.00,14.88,40.19,Americas,Traditional champions,High,Liberal democracy
4,Israel,35.76,67.58,82.44,32.63,27.96,43.91,27.33,39.89,Middle East,Rising stars,High,Liberal democracy

In [26]:
# Selecting Single Row
df.loc[0]

Country                  United States of America
Talent                                      100.0
Infrastructure                              94.02
Operating Environment                       64.56
Research                                    100.0
Development                                 100.0
Government Strategy                         77.39
Commercial                                  100.0
Total score                                 100.0
Region                                   Americas
Cluster                             Power players
Income group                                 High
Political regime                Liberal democracy
Name: 0, dtype: object

In [28]:
# Selecting Multiple Rows
df.loc[0:2]

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
0,United States of America,100.00,94.02,64.56,100.00,100.00,77.39,100.00,100.00,Americas,Power players,High,Liberal democracy
1,China,16.51,100.00,91.57,71.42,79.97,94.87,44.02,62.92,Asia-Pacific,Power players,Upper middle,Closed autocracy
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,Liberal democracy

In [29]:
# Selecting Single Column
df.loc[:,"Country"]

0     United States of America
1                        China
2               United Kingdom
3                       Canada
4                       Israel
                ...
57                   Sri Lanka
58                       Egypt
59                       Kenya
60                     Nigeria
61                    Pakistan
Name: Country, Length: 62, dtype: object

In [31]:
# Selecting multiple Columns
df.loc[:,"Country":"Infrastructure"]

                     Country  Talent  Infrastructure
0   United States of America  100.00           94.02
1                      China   16.51          100.00
2             United Kingdom   39.65           71.43
3                     Canada   31.28           77.05
4                     Israel   35.76           67.58
..                       ...     ...             ...
57                 Sri Lanka    6.27           34.64
58                     Egypt    1.11           38.84
59                     Kenya    0.75           14.11
60                   Nigeria    2.74            0.00
61                  Pakistan    8.00            2.43

[62 rows x 3 columns]

In [34]:
# Selecting multiple Columns and Rows
df.loc[3:6,"Country":"Research"]

       Country  Talent  Infrastructure  Operating Environment  Research
3       Canada   31.28           77.05                  93.94     30.67
4       Israel   35.76           67.58                  82.44     32.63
5    Singapore   39.38           84.30                  43.15     37.67
6  South Korea   14.54           85.23                  68.86     26.66

In [36]:
# Selecting on One Condition

condition = df["Region"] == "Europe"
df[condition]

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,Liberal democracy
7,The Netherlands,33.83,81.99,88.05,25.54,30.17,62.35,4.97,36.35,Europe,Rising stars,High,Liberal democracy
8,Germany,27.63,77.22,70.22,35.84,24.79,84.65,8.29,36.04,Europe,Traditional champions,High,Liberal democracy
9,France,28.32,77.15,80.02,25.48,21.44,91.20,7.65,34.42,Europe,Traditional champions,High,Liberal democracy
11,Ireland,29.93,89.50,70.15,16.79,30.85,69.44,3.94,33.04,Europe,Rising stars,High,Liberal democracy
12,Finland,24.99,71.60,78.76,25.21,18.32,85.99,4.64,31.36,Europe,Rising stars,High,Liberal democracy
13,Denmark,27.07,74.08,85.39,26.01,8.92,74.23,3.46,30.87,Europe,Rising stars,High,Liberal democracy
14,Luxembourg,21.66,94.88,66.96,19.39,19.95,66.69,4.68,30.73,Europe,Waking up,High,Liberal democracy
17,Switzerland,25.63,78.43,44.14,38.24,23.11,12.18,7.76,30.25,Europe,Rising stars,High,Liberal democracy
18,Sweden,28.21,75.19,66.77,27.61,17.81,40.35,4.51,29.85,Europe,Waking up,High,Liberal democracy
20,Spain,17.61,73.32,75.36,18.60,10.87,91.28,3.08,26.95,Europe,Rising stars,High,Liberal democracy
21,Austria,16.97,64.49,76.30,23.56,17.81,72.14,3.08,26.89,Europe,Waking up,High,Electoral democracy
22,Estonia,18.74,63.65,88.67,11.75,9.31,72.08,12.51,26.60,Europe,Waking up,High,Liberal democracy
24,Norway,27.61,76.20,36.65,21.18,13.56,59.05,3.95,25.77,Europe,Waking up,High,Liberal democracy
26,Belgium,15.17,65.10,64.08,22.15,19.81,63.58,5.31,25.52,Europe,Waking up,High,Liberal democracy
27,Poland,14.21,70.96,99.56,10.60,9.09,78.14,2.25,25.20,Europe,Waking up,High,Electoral democracy
28,Slovenia,13.02,72.06,94.55,19.10,1.06,80.38,0.61,25.19,Europe,Waking up,High,Electoral democracy
30,Italy,11.09,64.76,83.25,20.30,14.66,61.43,2.64,24.45,Europe,Waking up,High,Liberal democracy
31,Russia,12.46,62.59,52.85,14.21,19.48,90.40,1.38,21.99,Europe,Waking up,Upper middle,Electoral autocracy
32,Malta,15.87,67.12,70.96,5.96,11.72,70.49,4.30,21.85,Europe,Waking up,High,Electoral democracy
34,Portugal,13.43,64.20,80.66,8.96,3.92,70.69,2.05,20.89,Europe,Waking up,High,Electoral democracy
35,Czech Republic,11.11,64.26,76.97,11.26,2.70,70.29,1.75,20.31,Europe,Waking up,High,Electoral democracy
36,Iceland,18.45,72.45,41.19,18.29,0.19,22.15,5.74,19.81,Europe,Waking up,High,Liberal democracy
37,Lithuania,14.30,63.19,80.67,3.22,6.18,64.28,1.77,19.59,Europe,Waking up,High,Electoral democracy
39,Greece,7.62,55.44,83.58,15.12,2.21,22.15,0.92,17.33,Europe,Waking up,High,Liberal democracy
40,Slovakia,8.55,65.36,88.71,2.97,0.34,43.07,0.67,17.24,Europe,Waking up,High,Electoral democracy
41,Hungary,10.34,69.17,58.01,4.31,5.40,55.01,1.08,17.00,Europe,Waking up,High,Electoral autocracy
47,Turkey,8.49,40.74,64.34,9.53,1.02,67.45,0.95,14.39,Europe,Waking up,High,Electoral democracy
56,Armenia,6.69,37.84,58.40,0.28,0.33,14.40,1.37,8.49,Europe,Waking up,Upper middle,Electoral democracy

In [40]:
# Selecting on More Than One Condition

condition1 = df["Region"] == "Europe"
condition2 = df["Total score"] >= 35
df[condition1 & condition2]

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,Liberal democracy
7,The Netherlands,33.83,81.99,88.05,25.54,30.17,62.35,4.97,36.35,Europe,Rising stars,High,Liberal democracy
8,Germany,27.63,77.22,70.22,35.84,24.79,84.65,8.29,36.04,Europe,Traditional champions,High,Liberal democracy

In [41]:
# Selecting Specific Columns on a Condition

condition1 = df["Region"] == "Europe"
condition2 = df["Total score"] >= 35
df.loc[condition1 & condition2,["Country","Talent","Total score","Region"]]

           Country  Talent  Total score  Region
2   United Kingdom   39.65        40.93  Europe
7  The Netherlands   33.83        36.35  Europe
8          Germany   27.63        36.04  Europe

In [43]:
# .iloc[] Method

df.iloc[0:4,0:4]

                    Country  Talent  Infrastructure  Operating Environment
0  United States of America  100.00           94.02                  64.56
1                     China   16.51          100.00                  91.57
2            United Kingdom   39.65           71.43                  74.65
3                    Canada   31.28           77.05                  93.94